bin/
obj/
out/
artifacts/
[Bb]in/
[Oo]bj/

.vs/
.idea/
*.user
*.suo

.vscode/*
!.vscode/launch.json
!.vscode/settings.json

*.nupkg
.nuget/
project.lock.json

coverage/
*.coverage
TestResults/

_ReSharper*/
*.DotSettings.user

*.pfx
*.p12

.DS_Store
Thumbs.db

*.log
logs/
